<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      .flash-message {
          opacity: 0;
          transition: opacity 2s ease-in-out;
      }
  </style>

  <link rel="icon" href="../static/images/randomlogo5.png" type="image/x-icon">

  </head>
  <body
    class="bg-fixed bg-cover bg-center bg-no-repeat bg-black"
    style="background-image: url('../static/images/bg3.jpg');"
  >
  <div class="container mx-auto mt-0">
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var flashMessage = document.getElementById('flash-message');
          if (flashMessage) {
              setTimeout(function() {
                  flashMessage.remove(); 
              }, 3000); 
          }
      });
  </script>
    <!-- flask flash -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}   <div id="flash-message" class="absolute top-0 right-0 m-4 p-4 bg-primary text-white shadow-lg rounded-lg ease-[cubic-bezier(0.95,0.05,0.795,0.035)]">{% for i in messages %} <div>{{ i[1] }} </div>{% endfor %}</div> {% endif %} {%
    endwith %}
    <!--Navbar-->
    <div class="flex flex-col h-screen justify-between">
      <header class="text-gray-400 body-font">
        <div
          class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
        >
          <a
            class="flex title-font font-medium items-center text-white mb-4 md:mb-0"
            href="/"
          >
          {% if current_user.is_authenticated %}
            <img src="../static/images/randomlogo5.png" class="size-14 mt-2" />
            {% else %}
            <div></div>
            {% endif %}
            <span class="ml-3 text-2xl font-poppins">BlockFund</span>
          </a>
          <nav
            class="md:ml-auto flex flex-wrap items-center text-base justify-center"
          >
            {% if current_user.is_authenticated %}

            <a class="mr-5 hover:text-primary" href="/myprojects"
              >My Projects</a
            >
            <a class="mr-5 hover:text-primary" href="/newfundme">New Fundme</a>
            <a class="mr-5 hover:text-primary" href="/projects">Projects</a>
            <a class="mr-5 hover:text-primary" href="/previewnft">Preview NFT</a>
            <a class="mr-5 hover:text-primary" href="/blockfundai">BlockFund AI</a>
            <a class="mr-5 hover:text-primary" href="/voting">Governance</a>
            {% else %}
            <a class="mr-5 hover:text-primary" href="/blockfunai">BlockFund AI</a>
            <a class="mr-5 hover:text-primary" href="/voting">Governance</a>
            <a class="mr-5 hover:text-primary" href="/projects">Projects</a>
            <a class="mr-5 hover:text-primary" href="/previewnft">Preview NFT</a>
            <a class="mr-5 hover:text-primary" href="/login">Login</a>
            {% endif %}
          </nav>
          {% if current_user.is_authenticated %}
          <a href="/logout">
            <button
              class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-primary rounded text-base mt-4 md:mt-0 text-white"
              href=""
            >
              Logout
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-1"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
          {% else %}
          <a href="/sign-up">
            <button
              class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-primary rounded text-base mt-4 md:mt-0 text-white"
            >
              Sign-up
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-1"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
          {% endif %}
        </div>
      </header>

      <!--END NAVBAR-->

      <!--Contend Extends-->
      {% block content %}{% endblock %}
      <!--End of Content Extends-->
      <!--FOOTER-->
      <footer class="text-light body-font">
        <div
          class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
        >
          <a
            class="flex title-font font-medium items-center md:justify-start justify-center text-white"
          >
            <span class="ml-3 text-xl font-poppins">BlockFund</span>
          </a>
          <p
            class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"
          >
            © 2024 BlockFund — IEEE VIT Prudentia
            <a
              href="#"
              class="text-gray-500 ml-1"
              target="_blank"
              rel="noopener noreferrer"
              >#ForgeBrilliance</a
            >
          </p>
          <span
            class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
          >
            <a class="text-gray-400">
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
                ></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-400">
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
                ></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-400">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path
                  d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
                ></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-400">
              <svg
                fill="currentColor"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="0"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="none"
                  d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
                ></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>
      <!--END FOOTER-->
    </div>
  </body>
</html>
