{% extends "base.html" %} {% block title %}BlockFund{% endblock %} {% block
content %}
<!--Home Page Contents here-->
{% if current_user.is_authenticated %}

<section class="text-gray-40body-font">
  <div class="container px-5 py-28 mx-auto flex flex-wrap">
    <div class="flex flex-col text-center w-full mb-10">
      <h1
        class="sm:text-7xl mb-5 text-2xl bg-gradient-to-r from-violet-900 via-violet-400 to-violet-200 inline-block text-transparent bg-clip-text font-medium title-font font-poppins"
      >
        Hi, {{ current_user.user_name }}
      </h1>
      <h1
        class="sm:text-5xl text-2xl text-light font-medium title-font font-poppins"
      >
        Welcome to BlockFund
      </h1>
    </div>
    <div class="flex flex-wrap mt-2 mb-0 m-10">
      <div class="p-4 md:w-1/3">
        <div
          class="flex rounded-lg h-full bg-semi-dark bg-opacity-30 p-8 flex-col"
        >
          <div class="flex items-center mb-3">
            <div
              class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-primary text-white flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
            </div>
            <h2 class="text-white text-lg title-font font-medium">
              Ask BlockFund AI
            </h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base text-light">
              BlockFund analyzes your startup idea and provides insight and
              detailed analysis on feasibility.
            </p>
            <a class="mt-3 text-primary inline-flex items-center" href="/"
              >Go
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-2"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div
          class="flex rounded-lg h-full bg-semi-dark bg-opacity-30 p-8 flex-col"
        >
          <div class="flex items-center mb-3">
            <div
              class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-primary text-white flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
            </div>
            <h2 class="text-white text-lg title-font font-medium">
              Create a FundMe
            </h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base text-light">
              Post a fundme campaign on BlockFund to raise funds for your
              startup.
            </p>
            <a
              class="mt-3 text-primary inline-flex items-center"
              href="/newfundme"
              >Go
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-2"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div
          class="flex rounded-lg h-full bg-semi-dark bg-opacity-30 p-8 flex-col"
        >
          <div class="flex items-center mb-3">
            <div
              class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-primary text-white flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
            </div>
            <h2 class="text-white text-lg title-font font-medium">Campaigns</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base text-light">
              Check out posted campaigns to back promising startups posted on
              BlockFund.
            </p>
            <a
              class="mt-3 text-primary inline-flex items-center"
              href="/projects"
              >Go
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-2"
                viewBox="0 0 24 24"
              >
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-light body-font">
  <div class="container px-5 py-2 mx-auto mb-4">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="inline-block w-8 h-8 text-gray-500 mb-8"
        viewBox="0 0 975.036 975.036"
      >
        <path
          d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
        ></path>
      </svg>
      <p class="leading-relaxed text-lg">
        Blockchain's a very interesting technology that will have some very
        profound applications for society over the years to come.
        <br /><b>~Kenneth C. Griffin</b>
      </p>
      <span class="inline-block h-1 w-10 rounded bg-primary mt-8 mb-6"></span>
      <h2 class="text-white font-medium title-font tracking-wider text-sm">
        @TeamR34l
      </h2>
      <p class="text-gray-500">IEEE - Prudentia #ForgeBrilliance</p>
    </div>
  </div>
</section>

{% else %}
<div class="mx-auto my-28 mb-0">
  <img src="../static/images/randomlogo4.png" class="size-96 animate-pulse" />
</div>
<div class="flex h-screen items-center justify-center">
  <div class="w-max">
    <h1
      class="relative w-[max-content] font-mono before:absolute before:inset-0 before:animate-typewriter before:bg-dark after:absolute after:inset-0 after:w-[0.125em] after:animate-caret after:bg-white text-4xl text-light"
    >
      Loading BlockFund...
    </h1>
  </div>
</div>

{% endif %} {% endblock %}
