{% extends "base.html" %} {% block title %}My Projects{% endblock %} {% block
    content %}
    
    <div class="mx-40">
      <h2 class="font-semibold leading-7 text-light text-4xl my-0 font-poppins">
        My Projects
      </h2>
      <p class="mt-1 my-5 text-sm leading-6 text-light">
        Published projects in BlockFund
      </p>
    </div>
    <div class="sm:mx-0 lg:mx-40 md:mx-20 my-2 mx-4">
      <div class="grid grid-cols-3 grid-flow-row gap-3 text-light">
        {% for project in projects %}
    
        <div class="max-w-sm bg-semi-dark bg-opacity-50 border border-gray-200 rounded-lg shadow">
          <a href="#">
            <img class="rounded-t-lg h-40 w-full" src="{{ project[3] }}" alt="" />
          </a>
          <div class="p-5">
            <a href="#">
              <h5
                class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white font-poppins"
              >
                {{ project[1] }}
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              {{ project[2] }}
            </p>
            <h7
              class="mb-2 text-2md font-medium tracking-tight text-light dark:text-white font-poppins"
            >
              Total Funding Goal: ${{ project[4] }} </h7
            ><br /><br />
              <a href="/editfundme/{{ project[1] }}">Edit</a>
              <a href="/deletefundme/{{ project[1] }}">Delete</a>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
    