{% extends "base.html" %} {% block title %}Campaigns{% endblock %} {% block
content %}
<head>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.8.1/web3.min.js"
    integrity="sha512-vtUOC0YIaNm/UutU7yfnwqnF9LOYnXtpHe2kwi1nvJNloeGQuncNBiEKP/3Ww3D62USAhbXGsnYpAYoiDsa+wA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</head>

<div>
  <div class="mx-4 lg:mx-20">
    <h2 class="font-semibold leading-7 text-light text-4xl my-5">
      Crowdfund Campaigns
    </h2>
    <br>
    <br>
  </div>
  {% for project in projects %}
  <section
    class="text-gray-400 bg-semi-dark bg-opacity-25 body-font overflow-hidden"
  >
    <div class="container px-5 py-8 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">
            Project
          </h2>
          <h1 class="text-white text-3xl title-font font-medium mb-4">
            {{ project[1] }}
          </h1>
          <div class="flex mb-4">
            <a
              class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1"
              >Description</a
            >
          </div>
          <p class="leading-relaxed mb-4">{{project[2]}}</p>
          <div class="flex border-t border-gray-800 py-2">
            <span class="text-gray-500">Posted on</span>
            <span class="ml-auto text-white">BlockFund</span>
          </div>
          <div class="flex border-t border-gray-800 py-2">
            <span class="text-gray-500">Fund Goal</span>
            <span class="ml-auto text-white">{{project[4]}}</span>
          </div>
          <div class="flex border-t border-b mb-6 border-gray-800 py-2">
            <span class="text-gray-500">Amount of Matic:</span>
            <span class="ml-auto text-dark">
              <input type="text" id="amountInput" placeholder="Amount in Matic" class="block font-poppins flex-1 border-gray-950 border bg-semi-dark rounded-lg py-1.5 pl-1 text-light placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
            /></span>
          </div>
          <div class="flex">
            <span class="title-font font-medium text-2xl text-white"
              >Progress: MATIC</span
            >
            <button
              class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"
              onclick="MintNFT()"
            >
              Fund
            </button>
            <button
              class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
            >
              <svg
                fill="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5"
                viewBox="0 0 24 24"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <img
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded lg:p-20 sm:p-0 p-0;"
          src="{{project[3]}}"
          alt="BlockFund Placeholder"
          onerror="this.onerror=null; this.src='../static/images/randomlogo5.png';"
        />
      </div>
    </div>
  </section>
  <br /><br />
  {% endfor %}
</div>
<script src="{{ url_for('static', filename='contract.js') }}"></script>
<script>
  var accounts;
  var myContract;
  async function CheckMetamaskConnection() {
    if (window.ethereum) {
      try {
        web3 = new Web3(window.ethereum);
        accounts = await window.ethereum.request({
          method: "eth_requestAccounts",
        });
        console.log("Done!");
        return true;
      } catch (err) {
        console.log(err);
        return false;
      }
    } else {
      console.log("Metamask Not Found!");
      return false;
    }
  }

  $(document).ready(async function () {
    var IsMetaMask = await CheckMetamaskConnection();

    if (IsMetaMask) {
      console.log("IsMetaMask = true");
      myContract = await new web3.eth.Contract(
        SmartContractABI,
        SmartContractAddress
      );
      console.log(myContract);
      totalNFTsMinted();
    } else {
      alert("Metamask not detected!");
    }
  });

  async function totalNFTsMinted() {
    await myContract.methods.currentTokenId().call(function (err, res) {
      if (!err) {
        console.log(res);
        document.getElementById("totalNFTs").innerHTML =
          "Total NFTs Minted : " + res;
      }
    });
  }

  async function GetNFT() {
    var tokenId = document.getElementById("tokenId").value;

    await myContract.methods.tokenURI(tokenId).call(async function (err, res) {
      if (!err) {
        console.log(res);
        JSONResponse = await httpGet(res);
        JSONResponse = JSON.parse(JSONResponse);
        console.log(JSONResponse);
        document.getElementById("nftpng").src = JSONResponse["image"];
        document.getElementById("nftname").innerHTML =
          "Name : " + JSONResponse["name"];
        getNFTOwner(tokenId);
      } else {
        console.log(err);
      }
    });
  }

  async function getNFTOwner(_tokenId) {
    await myContract.methods.ownerOf(_tokenId).call(function (err, res) {
      if (!err) {
        console.log(res);
        document.getElementById("nftowner").innerHTML = "Owner : " + res;
      }
    });
  }

  async function MintNFT() {
    var amountInput = document.getElementById("amountInput").value;
    const amountToSend = web3.utils.toWei(amountInput, "ether");

    try {
      const accounts = await ethereum.request({
        method: "eth_requestAccounts",
      });
      const sender = accounts[0];

      const result = await myContract.methods
        .mintNFT()
        .send({ from: sender, value: amountToSend });
      console.log("Transaction hash:", result.transactionHash);
    } catch (error) {
      console.error("Error:", error);
    }
  }

  async function TransferNFT() {
    var toAddress = document.getElementById("toAddress").value;
    var tokenId = document.getElementById("tokenId").value;
    await myContract.methods
      .transferFrom(accounts[0], toAddress, tokenId)
      .send({ from: accounts[0] }, function (err, res) {
        if (!err) {
          console.log(res);
        } else {
          console.log(err);
        }
      });
  }

  function httpGet(theUrl) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", theUrl, false); // false for synchronous request
    xmlHttp.send(null);
    return xmlHttp.responseText;
  }
</script>
{% endblock %}
